@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply font-body font-normal text-gray-200 bg-dark-purple;
}

h1 {
  @apply text-5xl font-black;
}

input,
table {
  @apply w-full rounded-md text-gray-800 bg-gray-200;
}

th,
td {
  @apply px-5 py-3 text-left;
}

th {
  @apply font-bold;
}
